*{
  font-family: Arial;
}

body{
  text-align: center;
}

#question{
  font-size: 3rem;
  margin: 20px;
}

#answer{
  font-size: 1.8rem;
  width: 500px;
  margin-bottom: 6px;
  padding: 5px;
}

#submit{
  background-color: #d9d9d9; 
  border: none;
  border-radius: 5px;
  font-weight: bold;
  padding: 7px;
  font-size: 2rem;
  width: 508px;
  transition: 200ms ease;
}

#submit:hover{
  transform: scale(1.03);
}

#end{
  opacity: 1;
}
